django.log
*.pyc
whoosh
db.sqlite3
static
*.ropeproject
*~
**/.ropeproject
**/*~
**/.idea/
**/.DS_Store
dagm.ref
media
*.email
*.sock
announcement/initials/locations-orig.csv
.ipynb_checkpoints
*session
*session-*
*db
*db-*
*jpg
episodes
